./packer_cache
*.pkrvars.hcl
*.terraform.lock.hcl
.vault_pass
.terragrunt-cache/
kubeconfig
kubeconfig-mgmt
gitlab-chart/
.ansible/
.vscode/
age.agekey
cilium-values.yaml
flux-values.yaml
management-cluster/
public-cluster/
